.bg {
  position: relative;
  width: 100%;
  height: fit-content;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../assets/Blur\ Gradient-ProductPage.png);
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the value to control the blur intensity */
  z-index: -1;
}

/* Your other styles for the content can go here */
.gradient {
  /* Create a linear gradient as the text color, going from left to right */
  background: linear-gradient(to right, #373fff 20%, #3acaf8 80%);
  /* Set the background clip to text to make the gradient apply to the text */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the text color to transparent to make the gradient visible */
  color: transparent;
}
