.bg {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.bg::before,
.bg::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-image: url(../../assets/ProductPageImages/Side-Blur\ Gradient.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: left;
  z-index: -1; /* Place the background image behind the content */
}

.bg::before {
  left: 0;
}

.bg::after {
  right: 0;
  transform: scaleX(-1);
}

/* Your content styles */
.content {
  position: relative;
  z-index: 1; /* Place the content on top of the background image */
}

.colorBg {
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(203, 237, 206) 10%,
    #c3d7f0 50%,
    #d0d9f2 75%
  );
}
