.bg {
  background-image: url(../../assets/Blur\ Gradient-0.png);
  object-fit: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.gradient {
  /* Create a linear gradient as the text color, going from left to right */
  background: linear-gradient(to right, #373fff 40%, #3acaf8 60%);
  /* Set the background clip to text to make the gradient apply to the text */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the text color to transparent to make the gradient visible */
  color: transparent;
}

.colorBg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgb(203, 237, 206) 10%,
    #c3d7f0 50%,
    #d0d9f2 75%
  );
}
